Binaries/
Artifact/
DerivedDataCache/
Intermediate/
Saved/
Documentation/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
.vsconfig
HoloLensEngine.ini
devops_data/config.bat
**/*.log
**/A_*.uasset
